.player {
	position: fixed;
	bottom: 14px;
	left: 0%;
	width: 100vw;
	height: 112px;
	background-color: black;
	mix-blend-mode: difference;


	&--controls {
		// background-color: #020202;
		width: 100%;
		height: 100%;
		// padding-bottom: 25px;
		position: relative;

		&--buttons {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			gap: 10px;
			max-height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			#prev,
			#next {
				svg {
					width: 30px;
					height: auto;

					path {
						fill: white;
					}
				}
			}

			#forward30,
			#backward30 {
				svg {
					width: 35px;
					height: auto;

					path {
						fill: white;
					}
				}
			}

			.btn {
				position: relative;
				border: none;
				cursor: pointer;
				padding: 10px;
				background-color: transparent;

				&--play {
					outline: none;
					position: relative;
					width: 75px;
					height: 75px;

					border-radius: 50%;
					background-color: #fff;
					box-shadow: 0 1px 14px rgba(0, 0, 0, 0.22);

					transition: 0.2s all;
					svg {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						transition: transform 0.125s;
						width: 55%;
						overflow: visible;
						path {
							fill: #020202;
						}
					}
					&:focus {
						background-color: rgba(255, 255, 255, 0.8);
					}
				}
			}
		}
	}

	&--progressbar {
		position: relative;
		bottom: 0;
		width: 100%;
		height: 14px;
		background-color: white;

		&__input {
			position: absolute;
			left: 0;
			bottom: 0;
			-webkit-appearance: none;
			appearance: none;

			width: 100%;
			height: 100%;
			background-color: #fff;
			outline: none;
			overflow: hidden;
			// box-shadow: inset 0 0 5px rgba(0,0,0, 1);

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;

				width: 14px;
				height: 14px;
				border-radius: 50%;
				background-color: rgb(113, 221, 11);
				cursor: pointer;
				box-shadow: calc(-400vw - 6px) 0 0 400vw rgb(113, 221, 11);
			}
		}

		&--full {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			border: 1px solid #545eee;
		}
		&--current {
			position: absolute;
			left: 0;
			top: 0;
			// transform: translateY(-50%);
			height: 100%;
			border-radius: 5px;
			// width: 36%;
			border: 1px solid #545eee;
			background-color: #545eee;

			&__thumb {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(50%, -50%);
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: #545eee;
				cursor: pointer;
			}
		}
	}

	&--infobox {
		position: absolute;
		bottom: 0;
		left: 0;
		// background-color: black;

		&__covers {
			display: flex;
			align-items: flex-end;
			gap: 8px;

			img:not(.cover-current) {
				cursor: pointer;
			}
			.cover-previous,
			.cover-next {
				width: 90px;
				height: auto;
			}

			.cover-current {
				width: 135px;
			}
		}

		&__track-info {
			text-align: left;
			padding: 10px 0 5px 7px;
			.artist {
				text-transform: uppercase;
				font-family: neue-haas-grotesk-display, sans-serif;
				font-weight: 400;
				font-style: normal;
				font-size: 22px;
				color: white;

			}
			.song {
				font-family: neue-haas-grotesk-display, sans-serif;
				font-weight: 900;
				font-style: normal;
				font-size: 22px;
				color: white;

			}
		}
	}
}
