.track {
    position: fixed;
    top: 25px;
    left: 50px;
    z-index: 100;
    text-align: left;
    &--artist {
        font-size: 42.5px;
        color: white;
        line-height: .8;
        mix-blend-mode: exclusion;

    }
    &--song {
        font-size: 57px;
        font-weight: 400;
        color: white;
        line-height: .75;
        mix-blend-mode: exclusion;
    }
}